*{
	margin:0;
	padding:0;
}
html,body{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
a,input{outline: none;}
li{
	list-style: none;
}
body{
	font:12px/1.5 "微软雅黑";
	background: #69a944 url(../images/login-bg.png) no-repeat center center;
}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
    color: #999999;
    font-size: 14px;
    line-height: 28px;
    vertical-align: bottom;
    font-family: 'Microsoft YaHei',"Helvetica Neue", Helvetica, Arial, sans-serif;
}
.clear:after
{
    display: block;
    visibility: hidden;
    clear: both;

    height: 0;

    content: '\0020';
}
.clear
{
    *zoom: 1;
}
.fore-login-main {
	width: 1000px;
	height: 600px;
	position: relative;
	top: 50%;
	left: 50%;
	margin-top: 10%;
	margin-left: -500px;

}
.fore-login-logo {
	width: 770px;
	height: 70px;
	margin: 0 auto;
	padding-top: 25px;
	background: url(../images/login-logo.png) no-repeat center;
}
.fore-login-form-bg {
	position: absolute;
	width: 666px;
	height: 366px;
	top: 130px;
	left: 50%;
	margin-left: -333px;
	border-radius: 7px;
	background: url(../images/login-form-bg.png) no-repeat center left;
	overflow: hidden;
	-moz-box-shadow:0px 0px 6px rgba(73,161,40,.7); 
	-webkit-box-shadow:0px 0px 6px rgba(73,161,40,.7); 
	box-shadow:0px 0px 6px rgba(73,161,40,.7);
}
.fore-login-form {
	height: 100%;
	box-sizing: border-box;
	float: right;
	padding: 30px;
	background: #fff;
}
.fore-login-form-title {
	font-size: 14px;
	color: #49a128;
	line-height: 90px;
	font-weight: normal;
	text-align: left;
}
.fore-login-input-bg {
	padding: 5px;
	margin-bottom: 20px;
	background: #f5fcff;
	border: 1px solid #49a128;
	border-radius: 5px;
	width: 310px;
}
.fore-login-input {
	line-height: 28px;
	font-size: 14px;
	color: #333;
	border: none;
	background: none;
	vertical-align: middle;
}
.fore-login-form label {
	display: inline-block;
	width: 30px;
	height: 28px;
	vertical-align: middle;
}
.fore-login-username {
	background: url(../images/login-user-icon.png) no-repeat center center;
}
.fore-login-password {
	background: url(../images/login-password-icon.png) no-repeat center center;
}
.fore-login-btn-box {
	padding-top: 20px;
}
.fore-login-btn {
	display: inline-block;
	color: #fff;
	font-size: 14px;
	padding: 0 20px;
	line-height: 30px;
	border-radius: 15px;
	background: #49a128;
	text-decoration: none;
}
.fore-login-btn.dl {
	float: right;
}
.fore-login-btn.cz {
	background: url(../images/cz-btn.png) no-repeat center;
}
.fore-login-footer {
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 0px;
	margin-bottom: -20px;
	line-height: 22px;
	color: #fff;
	font-size: 14px;
}